# Backend
__pycache__/
*.pyc
*.pyo
*.pyd
/env/
/venv/
.flaskenv
.env

# Python
venv/
backend/venv/

__pycache__/
*.pyc



# Frontend
node_modules/
dist/
.vite/

# OS and IDE
.DS_Store
.vscode/
*.iml
.idea/

# Docker
.dockerignore

# Build
dist/
build/

repomix-output.xml